*{
    margin: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    background: #ffffff;
}
/* NAV */
nav{
    background: #ffffff;
    box-shadow: 0 10px 6px -2px #00000055;
    display: flex;
    position: fixed;
    top: 0; 
    width: 100%; 
}
nav > .spike{
    position: absolute;
    display: flex;
    margin-left: 50em;
}
.login_top{
    text-decoration: none;
    color: #000000;
    font-size: 2em;
}
/* FIM NAV */
.corpo {
    background: #000000;
    color: #ffffff;
}
.homeCorpoTop{
    margin-top: 5em;
    background: linear-gradient(to left , rgba(255,255,255,0), rgb(0, 0, 0)), url(../img/Banner.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 60em;
    padding: 7em;
    display: flex;
    flex-direction: column;
    margin-left: -50em;
}
.homeCorpoBot{
    background: linear-gradient(to right , rgba(0, 0, 0, 0.164), rgb(0, 0, 0)), url(../img/Banner2.png);
    background-repeat: no-repeat;
    background-size: 40em;
    background-position: left;
    padding: 7em;
    text-align: right;
}
.homeCorpoBot, .homeCorpoTop > h2{
    font-size: 2em;
}
.homeCorpoBot, .homeCorpoTop > p{
    font-size: 1.2em;
}
.login_btn{
    background: #3D36B9;
    text-decoration: none;
    font-size: 2em;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;

}
.login_btn:hover{
    background-color: #ffffff;
    color: #3D36B9;
}
.local_a{
    background: #fff;
    text-align: center;
    text-decoration: none;
    display: flex;
    width: 10%;
    justify-content: center;    
    cursor: pointer;
}

/* FOOTER */
footer{
    background: #ffffff;
    color: #000000;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 5em;
}
/* FIM FOOTER */
